# =====================
# Python
# =====================
venv/
.venv/
__pycache__/
*.py[cod]
*.log
.env
.env.*

# =====================
# React / Node
# =====================
node_modules/
build/
dist/

# =====================
# IDE
# =====================
.vscode/
.idea/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# Cache
# =====================
.pytest_cache/
.cache/

# =====================
# Database
# =====================
*.sqlite3
*.db