# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
.env.*

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Alembic
alembic/versions/*.pyc

# =========================
# Node / React
# =========================
node_modules/
build/
dist/

# npm / yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.idea/

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# Cache
# =========================
.cache/